html, body {
    height: 100%;
    margin: 0; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6); 
    background-size: cover; 
}
#header {
    color: rgb(255, 0, 0); 
    text-align: center;
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
}

.content {
    color: rgb(183, 255, 0);
    text-align: center;
    margin-top: 20px;
}

#textParagraph {
    transition: color 0.3s ease; 
}

.image {
    display: block;
    margin: 20px auto;
    width: 384px;
    height: 216px;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    transition: transform 0.3s ease; 
}

button {
    background-color: #864caf; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px; 
}

button:hover {
    background-color: #6545a0; 
    transform: scale(1.05); 
}